.logo1__container{
    height: 57vh; /*que tome el alto de la pantalla no importa que tipo sea*/
    background-attachment: fixed;
    background-position: center; /*la imagen se quede centrada*/
    background-size: cover; /*tome valor original de la imagen*/
    background-image: url("../imagenes/diversas-esferas-uso-ilustracion-vector-composicion-realista-impresion-3d_1284-30443.jpg");
    h1{
        @mixin tipo_h1 ($tipo, $color) {
            font-family: $tipo;
            color: $color;
        }
        position: absolute;
        top: 37%;
        @include tipo_h1($footer_titulo, #f00);
    }
}
.contacto__container{
    background-image: linear-gradient($colorPrincipal);
    padding: 0px 200px;
}
.ingreso__datos {
    h2{
    font-family: $domicilio__index;
    color: #061629;
    margin-bottom: 20px;
    padding-top: 20px;
    }
}
.seleccion__datos{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #3f3f3f;
    margin: 20px 0px;
}
@media (min-width:319px){
    .logo1__container{
        h1{
            margin-top: 17px;
            font-size: 36px;
            left: 11%;
        }
    }
}
@media (min-width:767px){
    .logo1__container{
        h1{
            font-size: 62px;
            margin-top: -15px;
            left: 24%;
        }
    }
}
@media (min-width:1023px){
    .logo1__container{
        h1{
            font-size: 70px;
            left: 30%;
        }
    }
}