$color_inicioLogo:#A5CDA8;
$color_intermedioLogo:#B5E2B9;
$color_finalLogo:#C7F9CC;

$colorPrincipal:($color_inicioLogo,$color_intermedioLogo,$color_finalLogo);

$color_inicioNavFooter:#B3C5D7;
$color_intermedioFooter:#C5D5EA;
$color_finalFooter:#D8E1E9;

$colorSecundario:($color_inicioNavFooter,$color_intermedioFooter,$color_finalFooter);