@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=Poppins:wght@200&family=Rajdhani:wght@300&display=swap');

//h2-h3-h4
$domicilio__index: 'Rajdhani', sans-serif;
//h1
$footer_titulo: "Cormorant Garamond", serif;
//responsable de la pagina
$footer_responsable: 'Times New Roman', Times, serif;
//parrafo
$parrafo: 'Poppins', sans-serif;
